Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Dynamic/Levals/FirstPersonExampleMap_BuiltData.uasset
Content/IndustryPropsPack6/
Content/PN_OpenWorldFoliage/ColorExamples/freshGreen.uasset
Content/PN_OpenWorldFoliage/
Content/SoulCave/
